<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title border-end-0">Profile</h4>
            </li>
            <!--<li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Extra</a>
            </li>
            <li class="breadcrumb-item active">Profile</li>-->
          </ul>
        </div>
      </div>
    </div>

    <div class="row clearfix" *ngIf="currentUser && mainImage">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="body">
            <form class="m-4" [formGroup]="profileForm" (ngSubmit)="onSubmit(photoEditor)">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3 text-center">
                  <app-tat-photo-editor #photoEditor [value]="mainImage"></app-tat-photo-editor>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="firstName" required>
                    <mat-error *ngIf="profileForm.get('firstName').hasError('required')">
                      First name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>Last name</mat-label>
                    <input matInput formControlName="lastName">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender" required>
                      <mat-option [value]="'male'">Male</mat-option>
                      <mat-option [value]="'female'">Female</mat-option>
                      <mat-option [value]="'other'">Other</mat-option>
                    </mat-select>
                    <mat-error *ngIf="profileForm.get('gender').hasError('required')">
                      Gender is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>Mobile</mat-label>
                    <input matInput formControlName="mobile" type="tel" required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>Designation</mat-label>
                    <input matInput formControlName="designation">
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>Select Department</mat-label>
                    <mat-select formControlName="department" required>
                      <mat-option [value]="'1'">
                        Neurology
                      </mat-option>
                      <mat-option [value]="'2'">
                        Orthopedics
                      </mat-option>
                      <mat-option [value]="'3'">
                        Gynaecology
                      </mat-option>
                      <mat-option [value]="'4'">
                        Microbiology
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="profileForm.get('department').hasError('required')">
                      Select Any Department
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>Address</mat-label>
                    <textarea matInput formControlName="address"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-error *ngIf="profileForm.get('email').hasError('email') && profileForm.get('email').touched">
                      Please enter a valid email address
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>Date Of Birth</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dob" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="profileForm.get('dob').hasError('required')">
                      Please select date
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <!--<div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>Upload Image</mat-label>
                    <ngx-mat-file-input formControlName="uploadImg">
                    </ngx-mat-file-input>
                    <mat-icon matSuffix>face</mat-icon>
                  </mat-form-field>
                </div>
              </div>-->
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="fill">
                    <mat-label>Education</mat-label>
                    <textarea matInput formControlName="education"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <!--<div class="row">
                <div class="col-12">
                  <app-web-cam></app-web-cam>
                </div>
              </div>-->
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="btn-space" [disabled]="!profileForm.valid " mat-raised-button color="primary">Submit</button>
                  <button type="button" mat-button>Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
