<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style d-flex mt-0 pt-0 align-items-center align-content-center">
                        <!--<li class="breadcrumb-item">
                          <h4 class="page-title">View Department</h4>
                        </li>-->
                        <li class="breadcrumb-item bcrumb-1 pt-0 mt-0 d-flex align-items-center align-content-center">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home me-2"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2 pt-0 mt-0 d-flex align-items-center align-content-center">
                            <a href="#" onClick="return false;">Department</a>
                        </li>
                        <li class="breadcrumb-item active pt-0 mt-0 d-flex align-items-center align-content-center">
                            All-Departments
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card list-container">
                    <div class="body d-flex flex-column">
                        <!--<pre>{{departmentService.departmentsList|json}}</pre>-->
                        <button class="btn btn-primary ms-auto" routerLink="../add-department">Add New Department
                        </button>
                        <ul class="list-group mt-2" *ngIf="departmentService.departmentsList.length > 0">
                            <li *ngFor="let department of departmentService.departmentsList"
                                class="d-flex list-group-item align-items-center">
                                {{department.name}}
                                <div class="ms-auto">
                                    <button (click)="deleteDepartment(department)" class="btn btn-danger btn-sm ms-2">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    <button routerLink="../edit-department/{{department.id}}"
                                            class="btn btn-warning btn-sm ms-2">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </div>
                            </li>
                        </ul>

                        <h4 class="text-center text-muted" *ngIf="departmentService.departmentsList.length === 0">No
                            Departments to Show</h4>

                        <ng-template #addDepartmentModalTemplateRef let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title">
                                    {{editId ? 'Edit Department' : 'Add New Department'}}
                                </h4>
                                <button type="button" class="close bg-transparent border-0" aria-label="Close"
                                        (click)="modal.close()">
                                    <span aria-hidden="true"><i class="material-icons text-danger">close</i></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form autocomplete="off" #addDepartmentForm="ngForm">
                                    <div class="text-inside">
                                        <mat-form-field class="example-full-width">
                                            <input matInput [ngModel]="editName" name="name" placeholder="Department Name" required>
                                            <mat-error>Please enter Department Name</mat-error>
                                        </mat-form-field>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button mat-raised-button class="me-2"
                                        (click)="addNewDepartment(addDepartmentForm,modal)"
                                        [disabled]="addDepartmentForm.invalid" type="button"
                                        color="primary">Save & Close
                                </button>
                                <button *ngIf="!editId" mat-raised-button
                                        (click)="addNewDepartment(addDepartmentForm,modal,false)"
                                        [disabled]="addDepartmentForm.invalid" type="button"
                                        color="primary">Save
                                </button>
                                <button mat-button type="button"
                                        (click)="addDepartmentForm.resetForm({});modal.close()">Cancel
                                </button>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
